{% extends "base.html" %} {% block title %}About{% endblock %} {% block content
  %}
  
   <!-- About Start -->
   <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-end">
            <div class="col-lg-3 col-md-5 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid rounded" data-wow-delay="0.1s" src="/static/img/tumour.jpg">
            </div>
            <div class="col-lg-6 col-md-7 wow fadeInUp" data-wow-delay="0.3s">
                <h1 class="display-1 text-primary mb-0">ABOUT</h1>
                <h1 class="display-5 mb-4">Cancer Detection using Machine Learning & Image Processing</h1>
                <p class="mb-4">Kidney tumors are becoming increasingly prevalent in Sri Lanka. 
                    Over the past 20 years, the incidence of kidney tumors has doubled, accompanied
                     by a corresponding rise in kidney tumor-related deaths. In Sri Lanka, kidney tumors 
                     have emerged as a significant cause of hospital mortality. One of the major issues 
                     identified is the prolonged time required to detect kidney tumors. This delay often 
                     allows the tumor to spread throughout the body. Many people in the general populace
                      are unaware of the signs of kidney tumors, leading to a longer time for patients 
                      to recognize symptoms. Treatment for kidney tumors also comes with its own set of 
                      adverse effects. It's crucial to closely monitor the patient's health to prevent 
                      avoidable side effects. Therefore, a solution to this problem should include reducing 
                      time waste, providing a method for patients to recognize symptoms accurately, ensuring 
                      highly accurate kidney tumor detection, and implementing a better monitoring system. The
                       proposed system aims to enable and guide patients in recognizing kidney tumor symptoms 
                       on their own, directing them to appropriate healthcare specialists, accurately 
                    detecting kidney tumors in their early stages, and monitoring the patient throughout treatment. </p>
            </div>
            <div class="col-lg-3 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row g-5">
                    <div class="col-12 col-sm-6 col-lg-12">
                        <div class="border-start ps-4">
                            <i class="fa fa-check fa-3x text-primary mb-3"></i>
                            <h4 class="mb-3">High Accuracy</h4>
                            <span>An overall accuracy of nearly 99%</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-12">
                        <div class="border-start ps-4">
                            <i class="fa fa-clock fa-3x text-primary mb-3"></i>
                            <h4 class="mb-3">24/7 Availability</h4>
                            <span>Cloud hosted and guranteed to provide 24/7 service</span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-12">
                        <div class="border-start ps-4">
                            <i class="fa fa-users fa-3x text-primary mb-3"></i>
                            <h4 class="mb-3">User Friendly</h4>
                            <span>A modern responsive web-interface that can be easily used by any User</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<div class="container-fluid facts my-5 py-5" data-parallax="scroll" data-image-src="/static/img/kidney-1.jpg"></div>


  
  
  
  {% endblock %}