{% extends "base.html" %} {% block title %}Dash Board{% endblock %} {% block content
  %}

  <!-- Contact Start -->
<div class="container-xxl py-5">
  <div class="container">
      <div class="row g-5">
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
              <p class="fs-5 fw-bold text-primary">Contact Us</p>
              <h1 class="display-5 mb-5">If You Have Any Query, Please Contact Us</h1>
              <p><span class="far fa-envelope me-2"></span>Sewmini Wijesingha - sew.wijesingha75@gmail.com</p>
              
          </div>
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 450px;">
              <div class="position-relative rounded overflow-hidden h-100">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.789910512504!2d79.9578799749964!3d6.915703393083869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25726e571c433%3A0xe6e8ba439e8a3bf8!2sCINEC%20Campus%20(Pvt)%20Ltd!5e0!3m2!1sen!2slk!4v1719371251749!5m2!1sen!2slk" 
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> </div>
          </div>
      </div>
  </div>
</div>
<!-- Contact End -->

  {% endblock %}






