{% extends "base.html" %} {% block title %}predict{% endblock %} {% block content
    %}
    

    <!-- <h1>Image Classification</h1>
    <form action="{{ url_for('views.predict') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*">
        <button type="submit">Predict</button>
    </form>
    
    {% if prediction %}
        <h2>Prediction: {{ prediction }}</h2>
    {% endif %} -->

    <div class="container">
        <h1>Image Classification</h1>
    
        <!-- Form section -->
        <div class="form-section">
            <form action="{{ url_for('views.predict') }}" method="POST" enctype="multipart/form-data">
                <div class="user-email">
                    <input type="text" placeholder="User Email" name="user-email" accept="email">
                </div>
                <div class="file-upload">
                    <input type="file" name="file" accept="image/*">
                </div>
                <div class="submit-btn">
                    <button type="submit">Predict</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}